%p.meta
  - if mod.releases.any?
    - mod.current_release.tap do |release|
      = link_to(release.version, vanity_release_path(mod.owner, mod, release))
  - else
    %span
      Not released
  &middot;
  = tag_list mod

%p.introduction= markdown(mod.description)
