%p.meta
  - if mod.releases.any?
    = link_to mod.releases.first.version, vanity_release_path(mod.owner, mod, mod.releases.first)
  - else
    %span
      Not released
  &middot;
  = tag_list mod
%p.introduction= mod.description
