= count 'module', @mods

%ul#mods
  - @mods.each do |mod|
    %li
      %h3= link_to mod.full_name, module_path(mod.owner, mod)
      = render :partial => 'mods/intro', :locals => {:mod => mod}

= will_paginate @mods