-# Display a list of +@mods+.

- cache_if (params[:q].blank? && params[:page].blank? && @cache_key_for_mods_list.present?), @cache_key_for_mods_list do
  = count 'module', @mods_count

  %ul#mods
    - @mods.each do |mod|
      %li
        %h3= link_to mod.full_name, module_path(mod.owner, mod)
        = render :partial => 'mods/intro', :locals => {:mod => mod}

  = will_paginate @mods
