%h2
  - if @user
    All modules for user
    &= @user.username
  - elsif params[:q]
    Search for modules matching:
    %span.search_highlight&= params[:q]
  - else
    All Modules

= render :partial => 'mods/list'
