*.bak
*.diff
*.swp
*.tmp
*~
.DS_Store
.dotest/*
\#*
config/database.yml
config/secrets.yml
coverage.info
coverage/*
db/*.db
db/*.sql
db/*.sqlite3
db/schema.rb
doc/api
doc/app
log/*.log
log/*.pid
nbproject
public/javascripts/all.js
public/stylesheets
public/system
spec/fixtures
spec/rcov.opts
spec/spec.opts
tags
test/
tmp/**/*
tmp/gitosis-adminpublic/system
tmp/restart.txt
tmp/tags
