%div.section
  = link_to 'Add a module', new_mod_path, :class => 'section-link'
  %h3 Modules
  %ul.local-navigation
    - mods_class = controller.controller_name == 'mods' && action_name == 'index' ? 'important active' : 'important inactive'
    %li{:class => mods_class}
      = link_to 'All Modules', mods_path
    - Categories.populated.each do |title, tag_name|
      - mod_class = (@tag && @tag.name == tag_name.to_s) ? :active : :inactive
      %li{:class => mod_class}
        = link_to title, tag_path(tag_name)
