      <div id="footer">
        <div class="site-width">
          <div id="newsletter" class="section">
            <h4>Newsletter</h4>
            <p>Stay up to date on all things puppet</p>
            <form>

              <fieldset>
                <legend>Newsletter</legend>
                <input type="text" />
                <button type="submit">Subscribe</button>
              </fieldset>
            </form>
          </div>
          <div id="secondary-navigation" class="section">

            <h4>Elsewhere</h4>
            <ul>
              <li class="chat"><a href="#" rel="nofollow"><span class="indicator"></span><span>Chat with us on IRC</span></a></li>
              <li class="discussion"><a href="#" rel="nofollow"><span class="indicator"></span><span>Join a Discussion Group</span></a></li>
              <li class="facebook"><a href="#" rel="nofollow"><span class="indicator"></span><span>Become a Fan on Facebook</span></a></li>
              <li class="subscribe"><a href="#" rel="nofollow"><span class="indicator"></span><span>Subscribe to our blog</span></a></li>

              <li class="twitter"><a href="#" rel="nofollow"><span class="indicator"></span><span>Follow us on Twitter</span></a></li>
            </ul>
          </div>
          <div id="book-it" class="section">
            <h4>Get the book!</h4>
            <p>Written by James Turnbull, <a href="#">Pulling Strings with Puppet</a> is the first book to introduce the powerful Puppet system administration tool. </p>

            <img src="/images/book.png" />
          </div>
        </div>
      </div>
      <div id="copyright">
        <div class="site-width">
          &copy;
          <span class="vcard">
           <span class="org">Reductive Labs</span>

           <a class="email" href="mailto:info@reductivelabs.com">info@reductivelabs.com</a>
            <span class="adr">
             <span class="street-address">222 NW Davis Street, Suite 321</span>
             /
             <span class="locality">Portland</span>
           , 
             <span class="region">OR</span>
             <span class="postal-code">97209</span>

            </span>
           <span class="tel">+1 503-805-9065</span>
          </span>          
        </div>
      </div>
    </div>
  </body>
</html>  
