<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Puppet Modules | Puppet Labs</title>
		<meta name="description" content="The open source leader in data center automation">
		<link rel="alternate" type="text/xml" title="Puppet Labs RSS 0.92 Feed" href="http://puppetlabs.designerandrew.com/feed/rss/">
		<link rel="alternate" type="application/atom+xml" title="Puppet Labs Atom Feed" href="http://puppetlabs.designerandrew.com/feed/atom/">
		<link rel="alternate" type="application/rss+xml" title="Puppet Labs RSS 2.0 Feed" href="http://puppetlabs.designerandrew.com/feed/">
		<link rel="pingback" href="http://puppetlabs.designerandrew.com/wordpress/xmlrpc.php">

				<link rel='stylesheet' id='wp-pagenavi-css'  href='http://puppetlabs.designerandrew.com/wordpress/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.60' type='text/css' media='all' />
<script type='text/javascript' src='http://puppetlabs.designerandrew.com/wordpress/wp-includes/js/jquery/jquery.js?ver=1.3.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://puppetlabs.designerandrew.com/wordpress/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://puppetlabs.designerandrew.com/wordpress/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Puppet Labs' href='http://puppetlabs.designerandrew.com' />
<link rel='up' title='Puppet' href='http://introduction/' />
<meta name="generator" content="WordPress 2.9.2" />

<!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[126,166] -->
<meta name="description" content="System administrators have a long tradition of writing simple tools to help them get their work done faster. It's in their nature. Very little of this" />
<link rel="canonical" href="http://puppetlabs.designerandrew.com/puppet/introduction/" />
<!-- /all in one seo pack -->
<link rel='stylesheet' href='http://puppetlabs.designerandrew.com/wp-content/plugins/events-manager/events_manager.css' type='text/css'/>	<script type='text/javascript'>
		$j=jQuery.noConflict();   
        

		$j(document).ready( function() {
		   initCalendar();
		});
		
		function initCalendar() {
			$j('a.prev-month').click(function(e){
				e.preventDefault();
				tableDiv = $j(this).parents('table').parent();
				($j(this).hasClass('full-link')) ? fullcalendar = 1 : fullcalendar = 0;   
				prevMonthCalendar(tableDiv, fullcalendar);
			} );
			$j('a.next-month').click(function(e){
				e.preventDefault();
				tableDiv = $j(this).parents('table').parent();
				($j(this).hasClass('full-link')) ? fullcalendar = 1 : fullcalendar = 0;     
				nextMonthCalendar(tableDiv, fullcalendar);
			} );
		}    
		function prevMonthCalendar(tableDiv, fullcalendar) {  
			if (fullcalendar === undefined) {
			    fullcalendar = 0;
			  }
			month_n = tableDiv.children('div.month_n').html();                                
			year_n = tableDiv.children('div.year_n').html();
			parseInt(month_n) == 1 ? prevMonth = 12 : prevMonth = parseInt(month_n,10) - 1 ; 
		   	if (parseInt(month_n,10) == 1)
					year_n = parseInt(year_n,10) -1;
			$j.get("http://puppetlabs.designerandrew.com", {ajaxCalendar: 'true', calmonth: prevMonth, calyear: year_n, full: fullcalendar}, function(data){
				tableDiv.html(data);
				initCalendar();
			});
		}
		function nextMonthCalendar(tableDiv, fullcalendar) {
			if (fullcalendar === undefined) {
			    fullcalendar = 0;
			  }
			month_n = tableDiv.children('div.month_n').html();                                
			year_n = tableDiv.children('div.year_n').html();
			parseInt(month_n,10) == 12 ? nextMonth = 1 : nextMonth = parseInt(month_n,10) + 1 ; 
		   	if (parseInt(month_n,10) == 12)
					year_n = parseInt(year_n,10) + 1;
			$j.get("http://puppetlabs.designerandrew.com", {ajaxCalendar: 'true', calmonth: nextMonth, calyear: year_n, full : fullcalendar}, function(data){
				tableDiv.html(data);
				initCalendar();
			});
		}
		
		// function reloadCalendar(e) {
		// 	// e.preventDefault();
		//  	console.log($j(this).parents('table'));
		//     $j.get("http://puppetlabs.designerandrew.com", {ajax: 'true'}, function(data){
		// 		tableDiv = table.parent();
		// 		tableDiv.html(data);
		//             });
		// }
		//                      
		
	</script>
	
		<link rel="stylesheet" type="text/css" href="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/style.css" media="screen">
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/jquery-1.3.1.min.js"></script>
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/cufon-yui.js"></script>
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/Klavika_Regular_400-Klavika_Regular_700.font.js"></script>
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/ampersands.js"></script>
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/html5.js"></script>
		<script src="http://puppetlabs.designerandrew.com/wordpress/wp-content/themes/puppetlabs/javascript/drop_down.js"></script>
		<script type="text/javascript">
			Cufon.replace('#masthead h1');
		</script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/modules.css"/>
        <%= javascript_include_tag 'jquery', 'jquery.form', 'application' %>
        <%= yield :head %>
  </head>
  
  
  <body id="modules" class="page page-id-757 page-child parent-pageid-741 page-template page-template-default">
	<header id="header">
    <div class="site-width">
  		<h1><a href="http://puppetlabs.designerandrew.com/"><span>Puppet Labs</span></a></h1>
      <a class="screen-reader-content" href="#content">Skip navigation</a>
  		<nav>
  			<ul id="global-navigation">
          <li id="puppet-tab" class="with-submenu">
            <a href="http://puppetlabs.designerandrew.com/puppet/">
              <span>Puppet</span>
              <span class="subtitle">IT Made Easy</span>
              <span class="drop-down-trigger"></span>
            </a>
            <ul>            
              <li>
                <ul>
                  <li class="page_item page-item-757 current_page_item"><a href="http://puppetlabs.designerandrew.com/puppet/introduction/" title="Introduction">Introduction</a></li>
<li class="page_item page-item-769"><a href="http://puppetlabs.designerandrew.com/puppet/requirements/" title="Requirements">Requirements</a></li>
<li class="page_item page-item-828"><a href="http://puppetlabs.designerandrew.com/puppet/features/" title="Features &amp; Solutions">Features &amp; Solutions</a></li>
<li class="page_item page-item-833"><a href="http://puppetlabs.designerandrew.com/puppet/case-studies/" title="Case Studies">Case Studies</a></li>
<li class="page_item page-item-835"><a href="http://puppetlabs.designerandrew.com/puppet/white-papers/" title="White Papers">White Papers</a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li class="page_item page-item-751"><a href="http://puppetlabs.designerandrew.com/puppet/related-projects/dashboard/" title="Dashboard">Dashboard</a></li>
<li class="page_item page-item-753"><a href="http://puppetlabs.designerandrew.com/puppet/related-projects/facter/" title="Facter">Facter</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li id="services-tab" class="with-submenu">
            <a href="http://puppetlabs.designerandrew.com/services/">
              <span>Services</span>
              <span class="subtitle">Subscriptions, etc.</span>
                <span class="drop-down-trigger"></span>
            </a>
            <ul>
              <li class="page_item page-item-783"><a href="http://puppetlabs.designerandrew.com/services/overview/" title="Overview">Overview</a></li>
<li class="page_item page-item-839"><a href="http://puppetlabs.designerandrew.com/services/support/" title="Subscriptions">Subscriptions</a></li>
<li class="page_item page-item-845"><a href="http://puppetlabs.designerandrew.com/services/training-workshops/" title="Training &amp; Workshops">Training &amp; Workshops</a></li>
<li class="page_item page-item-849"><a href="http://puppetlabs.designerandrew.com/services/consultation/" title="Consultation Services">Consultation Services</a></li>
<li class="page_item page-item-851"><a href="http://puppetlabs.designerandrew.com/services/partners/" title="Partners">Partners</a></li>
            </ul>
          </li>
          <li id="resources-tab" class="with-submenu">
            <a href="http://puppetlabs.designerandrew.com/resources/">
              <span>Resources</span>
              <span class="subtitle">Help for Puppeteers</span>
              <span class="drop-down-trigger"></span>
            </a>
            <ul>
              <li class="page_item page-item-783"><a href="http://puppetlabs.designerandrew.com/services/overview/" title="Overview">Overview</a></li>
<li class="page_item page-item-839"><a href="http://puppetlabs.designerandrew.com/services/support/" title="Subscriptions">Subscriptions</a></li>
<li class="page_item page-item-845"><a href="http://puppetlabs.designerandrew.com/services/training-workshops/" title="Training &amp; Workshops">Training &amp; Workshops</a></li>
<li class="page_item page-item-849"><a href="http://puppetlabs.designerandrew.com/services/consultation/" title="Consultation Services">Consultation Services</a></li>
<li class="page_item page-item-851"><a href="http://puppetlabs.designerandrew.com/services/partners/" title="Partners">Partners</a></li>
            </ul>

          </li>
          <li id="community-tab" class="with-submenu">
            <a href="http://puppetlabs.designerandrew.com/community/">
              <span>Community</span>
              <span class="subtitle">Blog, Mailing Lists, etc.</span>
            </a>
          </li>

          <li id="company-tab"><a href="http://puppetlabs.designerandrew.com/company/"><span>Company</span><span class="subtitle">Meet Puppet Labs</span></a></li>

  			</ul>
  		</nav>
  	</div>
  </header>
