
/* 
Additional CSS, build on top of Andrew's design.  It may make sense to integrate this with the main design CSS
*/


body#modules div#header li#resources-tab > a {
   color: white;
   border-top-color: #a965a9;
   background: #2e283c;
}

body#modules div#header li#blog-tab > a span.subtitle {
   color: #aaa;
}

/* @group Modules */

body#modules div#content > div.site-width > div.primary-secondary-content:first-child {
   padding-right: 340px;
}

body#modules div#content > div.site-width > div.primary-secondary-content:first-child > .secondary-content {
   width: 280px;
   margin-right: -360px;
   left: 40px;
   position: relative;
   float: left;
}

body#modules .secondary-content h3 {
   border-bottom: 2px solid #eee;
   padding-bottom: 0.25em;
   -webkit-transition: 0.25s border linear;
}

body#modules .secondary-content:hover h3 {
   border-bottom-color: #ccc;
}

body#modules .secondary-content h4 {
   margin: 0;
   text-transform: none;
   letter-spacing: normal;
}

/* @end */

#mods > li {
   border-bottom: 2px solid #EEEEEE;
   padding-bottom: 0.25em;
   margin-top: 0.25em;
}
#mods > li:hover { border-color: #ccc; }
#mods > li:last-child { border-bottom: 0; }

#session-navigation a { margin: 0 10px 0 0; }

.meta { font-size: 0.85em; margin: 0 0 10px 0; }

li.important a { font-weight: bold; }

/* @group Tags */

#tags a { padding: 4px; }

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

/* @end */