<p>Hello <%= @resource.display_name %>!</p>

<p>Someone requested a password reset for your account at the Puppet Forge.</p>

<p>You can reset your password by clicking this link:</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Or by visiting this URL:</p>

<p><%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>--Puppet Labs</p>
