%h2 Home
%p
  Welcome to the <strong>Puppet Forge</strong>! This is <em>the</em> place to find and share modules for the Puppet open source data center automation tool.

%h3 What are modules?
%p
  Module are sets of instructions used by Puppet to drive an automation processes -- like setup Redmine, manage PostgreSQL or launch cloud servers.

%h3 Find modules
%p
  Browse user-contributed modules by clicking the categories and tags or search for modules by name.

%h3 Share modules
%p
  Register an account, create a module and upload releases to share them. <a href="http://github.com/puppetlabs/puppet-module-tool/blob/master/README.markdown">Learn how to make modules&#0133;</a>

%h3 Get involved
%p
  This is new and exciting for us. We have many plans for this site and what you see now is just the beginning. If you have ideas, questions or bugs, please #{mail_to SECRETS.administrator_email, "get in touch", :encode => "javascript"}.
