%h2 Home
%p
  Welcome to the <strong>Puppet Forge</strong>! This is <em>the</em> place to find and share modules for <a href="http://puppetlabs.com/">Puppet</a>, the open source data center automation tool.

%h3 What are modules?
%p 
  Modules are reusable, sharable units of Puppet code. They can automate tasks such as setting up a database, web server, or mail server.
%p 
  Skilled Puppet users have already written many Puppet modules to automate the deployment and configuration of many popular applications. You can reuse these modules in your own infrastructure, saving time and effort. Allowing users to collaborate on how they manage their infrastructure is one of the greatest reasons to use Puppet, and with these modules, much of the work has already been done for you.

%h3 Find modules
%p 
  Browse user-contributed modules by clicking the categories and tags on the right side of the screen. You can also search for modules by name. Modules can then be downloaded by using the "download" button on each module page, or with the command-line <a href="http://github.com/puppetlabs/puppet-module-tool">puppet-module tool</a>. No registration is required.

%h3 Share modules
%p
  #{link_to "Register an account", new_user_path}, create a module, upload a release of it and your automation code is now shared with the Puppet community. <a href="http://github.com/puppetlabs/puppet-module-tool/blob/master/README.markdown">Learn how to create and share modules using the puppet-module tool.</a>

%h3 Get involved
%p
  Puppet Forge is a new and exciting direction for Puppet. We have many plans for the site and what you see now is just beginning. If you have ideas, questions, or comments, please <a href="http://projects.puppetlabs.com/projects/module-site/issues">let us know</a>.
